.sphere {
	position: fixed;
	
	-webkit-transform-origin: center center;
	   -moz-transform-origin: center center;
	    -ms-transform-origin: center center;
	     -o-transform-origin: center center;
	        transform-origin: center center;
	
	-webkit-perspective: 800;
	   -moz-perspective: 800;
	    -ms-perspective: 800;
	     -o-perspective: 800;
	        perspective: 800;
}
.sphere .post {
	position: absolute;
	top: -200px; /* arbitrary vertical offset */
	left: -190px; /* .post width / 2 = 380 / 2 = 190 */
}
